.home-container {
    text-align: center;
    padding: 40px;
  }
  
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .design-section {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .design-container {
    width: 250px;
    text-align: center;
  }
  
  .design-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #45a049;
  }
  
  
  h3 {
    margin-top: 15px;
    font-size: 1.25rem;
    color: #333;
  }
  