.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/images/bg1.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
  }
  
  .welcome-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #282f91;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .welcome-button:hover {
    background-color: #5048ab;
  }
  